<div class="container-fluid">
    <div class="row py-md-5 text-center justify-content-center">
        <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
            <h1 class="intro mb-5">
                Something in your mind ? <br>
                write it down.....
            </h1>
            <p class="intro-p mb-4">
                Notes is a simple to use, free notes taking app made with Node.js, EJS, Express.js & MongoDB 
            </p>
            <a href="/auth/google" class="btn btn-primary btn-lg try">Try Notes</a>
        </div>
    </div>
</div>